# Mapa De Calor

## Imports e Dados

In [1]:
# Import Bibliotecas
import pandas as pd
import plotly.express as px

In [5]:
# Criando dados

# Cidades
cidades = ['Maringá', 'Londrina', 'Marialva', 'Sarandi', 'Mandaguaçu',
          'Paiçandu']

# Estado
estado = ['Paraná'] * 6

# Gerando a Latitude
latitude = [-23.4273, -23.3045, -23.4844, -23.4446, -23.3455, -23.4567]

# Gerando a Longitude
longitude = [-51.9375, -51.1696, -51.7931, -51.8762, -52.0946, -52.0466]

# Valor de Vendas

vendas = [258, 237, 125, 131, 111, 123]

In [7]:
# Dicionario

dicionario = {
    'Cidade': cidades,
    'Estado': estado,
    'Latitude': latitude,
    'Longitude': longitude,
    'Vendas': vendas   
}

# Criando Dataframe
df = pd.DataFrame(dicionario)

# Visualizando Dataframe
df

       Cidade  Estado  Latitude  Longitude  Vendas
0     Maringá  Paraná  -23.4273   -51.9375     258
1    Londrina  Paraná  -23.3045   -51.1696     237
2    Marialva  Paraná  -23.4844   -51.7931     125
3     Sarandi  Paraná  -23.4446   -51.8762     131
4  Mandaguaçu  Paraná  -23.3455   -52.0946     111
5    Paiçandu  Paraná  -23.4567   -52.0466     123